.icon-dropdown{
    background: transparent url(../../img/icon_arrow.svg) no-repeat;
    width: 16px;
    height: 16px;
}

.icon {
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
    cursor: pointer;
    display: block;
}


.icon-exit {
    background: transparent url(../../icon/sprite_cegov.svg) no-repeat -242px -26px;
}

.icon-success{
    background: transparent url(../../img/toast-success.svg) no-repeat;
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
}

.icon-fail{
    background: transparent url(../../img/toast-success.svg) no-repeat;
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
}

.icon-warning{
    background: transparent url(../../img/icon-warning.svg) no-repeat;
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
}