
@font-face {
    font-family: GoogleSans;
    src: url('../assets/font/GoogleSans-Regular.woff2');
}

/* thiết lập font cho các thẻ */
* {
    font-family: GoogleSans;
    color: #4E5B6A;
}
*, body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #fff;
}
#app {
    height: calc(100vh);
}
/* Thay đổi độ rộng của thanh cuộn dọc */
::-webkit-scrollbar {
    width: 6px;
    /* Độ rộng của thanh cuộn */
}

::-webkit-scrollbar-thumb {
    background-color: #a1a1a1;
    /* Màu nền của thanh cuộn */
    border-radius: 2px;
    /* Bo góc của thanh cuộn */
}
p {
    margin: 0px;
}
img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}
/* can giữa phần tử con */
.div-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-flex-row {
    display: flex;
    align-items: center;
}
.div-flex-column {
    display: flex;
    flex-direction: column;
}
/* phóng to */
.zoom-div {
    transition: transform 0.1s ease; /* Đặt thời gian và kiểu chuyển động */
}
  
.zoom-div:hover {
transform: scale(1.1); /* Áp dụng hiệu ứng phóng to 1.1 lần khi di chuột qua */
}

/* tùy chỉnh ckeditor của MSCardAnswer*/
.body .ck.ck-toolbar>.ck-toolbar__items {
    justify-content: end;
    background-color: #fff;
    border-radius: 10px;
}
.body .ck.ck-icon {
    width: 16px !important;
    height: 20px !important;
}
.body .ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
    border: none;
    border-radius: 0px 0px 10px 10px;
    background-color: #fff;
}
.body .ck.ck-toolbar {
    background: #fff !important;
    border: none;
    border-radius: 10px 10px 0px 0px !important;
    box-sizing: border-box;
}
.body .ck.ck-reset {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.body .ck.ck-editor__main>.ck-editor__editable:focus {
    outline: none;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0 0px 0px rgba(90, 125, 141, .16);
}
.body .ck.ck-editor__main>.ck-editor__editable.ck-focused{  
    outline: none;
    border: none;
}
.body .ck.ck-editor__main>.ck-editor__editable{
    height: 81px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
}
.hidden-editor {
    background-color: aqua;
    display: none !important;
}
.body .ck.ck-editor__main>.ck-editor__editable:not(.ck-focused){
    text-align: center;
}
.body .ck.ck-editor__main>.ck-editor__editable.ck-focused {
    text-align: center;
}
/* xóa decor editor khi nhập liệu xong */
.remove-decor .ck.ck-toolbar>.ck-toolbar__items {
    display: none;
}
.remove-decor .ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
    background-color: rgb(255, 214, 240);
    margin-top: 30px;
}

/* tooltip */
.tooltip {
    position: absolute;
    background-color: #fff;
    padding: 5px;
    border-radius: 8px;
    top: 40px;
    left: -15px;
    border: 1px solid #4E5B6A;
    white-space: nowrap;
  }
/* tooltip button */
.div-button .tooltip {
    position: absolute;
    background-color: #fff;
    padding: 5px;
    border-radius: 8px;
    top: -40px;
    left: -30px;
    border: 1px solid #4E5B6A;
    white-space: nowrap;
}
/* tooltip cho list loại câu hỏi */
.list-btn .tooltip {
    position: absolute;
    background-color: #fff;
    padding: 5px;
    border-radius: 8px;
    top: 4px;
    left: -200px;
    border: 1px solid #4E5B6A;
    white-space: nowrap;
}

/* popupadd */
/* tùy chỉnh ckeditor */
.popup-content .ck.ck-toolbar>.ck-toolbar__items {
    justify-content: end;
    padding-right: 35px;
    background-color: #fff2ab;
}

.popup-content .ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
    border: none;
    background-color: #fff2ab;
}

.popup-content .ck.ck-toolbar {
    background: #fff2ab !important;
    border: none;
    padding: 0 var(--ck-spacing-small);
}

.popup-content .ck.ck-editor__main>.ck-editor__editable {
    background: #fff2ab;
    border: none;
    padding: 0px 24px;
    margin-top: -4px;
}

.popup-content .ck.ck-editor__main>.ck-editor__editable:focus {
    background-color: #fff2ab;
    outline: none;
    border: none;
    padding: 0px 24px;
    margin-top: -4px;
    box-shadow: 0 0px 0px rgba(90, 125, 141, .16);
}

.popup-content .ck.ck-editor__main>.ck-editor__editable.ck-focused {
    outline: none;
    border: none;
}

/* combobox của popupadd */
.combobox-popup {
    width: 312px;
}

.combobox-popup>input {
    border-radius: 0px 0px 10px 0px;
    width: 100%;
    padding-left: 70px;
    font-weight: 700;
    font-size: 16px;
    background-color: #f8e373;
    border: none;
}

.combobox-popup>input:hover {
    border: none;
}